.navbar-brand{
	padding-top:12px
}

.panel-default{
	margin-left: 15px;
	margin-rigth: 15px;
}

.alert {
	margin-left: 15px;
	margin-rigth: 15px;
}

.span {
	font-size: 8px;
}

.aw-link-panel{
	float: right;
	padding: 0px;
}
.aw-link-title{
	float: left;
	padding-top: 6px;
}