<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<title>Cadastro de titulo</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<!-- Image and text -->
	<nav class="navbar navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">
	    <img src="/img/Capturar.PNG" width="35" height="35" class="d-inline-block align-top" alt="">
	    Titulos
	  </a>
	</nav>
	
	<form class="form-horizontal">
		
		<div class="container">
  		<div class="panel-group">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h1 class="panel-title">Novo titulo</h1>
		  </div>
		 	<div class="panel-body">
		  		<div class="form-group">
		  			<label for="descricao" class="col-sm-2 control-label">Descrição</label>
		  			<div class="col-sm-4">
		  				<input type="text" class="form-control" id="descricao"/>
		  			</div>
		  		</div>		  
		  	</div>
		</div>
		</div>
		</div>
	</form>



<script src="/js/bootstrap.min.js"></script>
</body>
</html>