<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Pesquisa de titulo</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
   <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" href="#">
	    <img src="/img/download.jpg" width="35" height="35" class="d-inline-block align-top" alt="">
	   		 Titulos
	 		 </a>
         </div>
      </div>
   </nav>

   <div class="panel panel-default">
   	<div class="panel-heading">
   		<div class="clearfix">
      		<h1 class="panel-title aw-link-title">Pesquisa de títulos</h1>
      		<a class="btn btn-link aw-link-panel" href="/titulos/novo" >Novo titulo</a>
      	</div>
      	</div>
      	
      	<div class="panel-body">
      		<table class="table table-bordered table-striped">
      			<thead>
      				<tr>
      					<th class="text-center col-md-1">#</th>
      					<th>Decrição</th>
      					<th class="text-center col-md-2">Data de vencimento</th>
      					<th class="text-right col-md-2">Valor</th>
      					<th class="text-center col-md-2">Status</th>
      					<th class="col-md-1"></th>
      				</tr>
      			</thead>
      			<tbody>
      				<tr>
      					<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum título foi encontrado</td>
      				</tr>
      				
      				<tr th:each="titulo :${titulos}">
      				<td class="text-center" th:text="${titulo.id}"></td>
      				<td th:text="${titulo.descricao}"></td>
      				<td class="text-center" th:text="${{titulo.dtVencimento}}"></td>
      				<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
      				<td class="text-center">
      				<span class="label ."  th:text="${titulo.status}"
      				th:classappend="${titulo.pendente ? 'label-danger' : 'label-success'}"></span>
      				</td>
      				<td class="text-center" >
      					1
      				</td>
      				</tr>
      				
      				
      			</tbody>
      		</table>
      	</div>

   </div>
   
<script src="/js/jQuery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</body>
</html>